.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background: #f5f5f5;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav {
  display: flex;
  align-items: center;
}

.nav a {
  margin: 0 1rem;
  text-decoration: none;
  font-weight: 500;
}

.courses-link {
  color: blue; /* Set the color of "Courses" to blue */
}

.search-login {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
}

.search-container {
  position: relative;
}

.search-container input {
  padding: 0.5rem 2rem 0.5rem 3rem; /* Adjust padding as needed */
  margin-right: 1rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  max-width: 400px;
  border-radius: 50px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
}

.icons {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.icons .icon {
  margin: 0 0.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background: #f5f5f5;
  border: 1px solid #ccc;
  cursor: pointer;
}

.login-btn {
  padding: 0.5rem 1.5rem;
  background: #ffd700;
  border: none;
  color: black;
  cursor: pointer;
  border-radius: 20px;
}

.login-btn:hover {
  background: #e6c200;
}
